---
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Gnome 台灣社群支援站</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<header>
		<h1>
			{% include gnomelogo.svg %}
			Gnome 台灣社群支援站
		</h1>
		<time>12月17日 01:37</time>
		<span class="github">
			<a href="https://github.com/linux-taiwan/gnome.linux.org.tw">
			{% include githublogo.svg %}
			</a>
		</span>
	</header>
	<main>
		這裡是 Gnome 台灣社群支援站，你可以在這裡獲得協助。
		<div id="left_bar"></div>
		<div id="right_bar"></div>
	</main>
</body>
</html>
