---
---

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	background: url('/images/bg.png') no-repeat repeat;
	background-size: contain;
}

header {
	padding: .3rem .25rem .25rem;
	background-color: #000;
	color: #ccc;
	h1 {
		display: inline-block;
		padding: 0;
		margin: 0 .5rem;
		font-size: 1rem;
		line-height: 1.5rem;
		font-weight: 500;
		&:hover {
			color: #fff;
		}
		svg {
			height: 20px;
			width: 18px;
			vertical-align: top;
		}
	}
	time {
		position: absolute;
		left: 45vw;
		&:hover {
			color: #fff;
		}
	}
	.github {
		float:right;
		&:hover {
			color: #fff;
		}
		svg {
			&:hover path{
				fill: #fff;
			}
			path {
				fill: #ccc;
			}
		}
	}
}

main {
	color: #fff;
	
	a {
		color: #fff;
		text-decoration: none;
		border-bottom: 1px dashed #fff;
	}
	
	.sidebar_style {
		background-color: #2E3436;
		border: 1px solid #555;
	}

	#left_bar {
		@extend .sidebar_style;
		float: left;
		position: relative;
		top: 100px;
		width: 100px;
		min-height: 400px;
		border-left-width: 0;
		border-radius: 0 10px 10px 0;
	}
	#right_bar {
		@extend .sidebar_style;
		float: right;
		position: relative;
		top: 40px;
		width: 25px;
		min-height: 500px;
		transition-duration: .25s;
		border-radius: 10px 0 0 10px;
		&:hover {
			width: 150px;
		}
	}
}
