---
---

@mixin bg-gradient-t2b($start-colour, $end-colour) {
    background-color: $start-colour;
    background-image: -webkit-gradient(linear, left top, left bottom, from($start-colour), to($end-colour));
    background-image: -webkit-linear-gradient(top, $start-colour, $end-colour);
    background-image:    -moz-linear-gradient(top, $start-colour, $end-colour);
    background-image:     -ms-linear-gradient(top, $start-colour, $end-colour);
    background-image:      -o-linear-gradient(top, $start-colour, $end-colour);
    background-image:         linear-gradient(top, $start-colour, $end-colour);
    filter:            progid:DXImageTransform.Microsoft.gradient(start-colourStr='#{$start-colour}', end-colourStr='#{$end-colour}');
}


body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	@include bg-gradient-t2b(#8FB3D9, #fff);
}

header {
	padding: .3rem .25rem .25rem;
	background-color: #000;
	color: #ccc;
	h1 {
		display: inline-block;
		padding: 0;
		margin: 0 2rem;
		font-size: 1rem;
		font-weight: 500;
		&:hover {
			color: #fff;
		}
		svg {
			height: 20px;
			width: 18px;
			vertical-align: top;
		}
	}
	time {
		position: absolute;
		left: 45vw;
		&:hover {
			color: #fff;
		}
	}
	.github {
		float:right;
		&:hover {
			color: #fff;
		}
		svg {
			&:hover path{
				fill: #fff;
			}
			path {
				fill: #ccc;
			}
		}
	}
}
